@import "responsive.css";
@import "variables.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.highlight {
  /* text-decoration: underline; */
  color: var(--accent);
  font-weight: bold;
  text-decoration-thickness: 1.5px; 
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
  overflow-x: hidden;
  color: rgba(255, 255, 255, .8);
}

body {
  background-color: var(--primary);
  line-height: 1.4;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Rubik, sans-serif;
  /* font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

a.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent);
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a.nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

header {
  min-height: 80vh;
}

#logo-name {
  display: flex;
}

a.logo {
  width: 2.5em;
  height: 2em;
  background-image: url(assets/img/logo-no-background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: -10px;
}

nav {
  margin: 10px 0 10px 0;
  height: 3.5em;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
  font-weight: bold;
  padding: 20px;
  font-size: 1.2em;
  z-index: 1;
  position: fixed;
  top: 0;
  border-radius: 10px;
}

#nav-right {
  display: flex;
  justify-content: end;
}

.dropcontent {
  display: flex;
  list-style-type: none;
  margin: 0;
}

#nav-right .dropcontent li {
  margin: 0 1.5rem !important;
  list-style-type: none;
}

.icon-ham {
  display: none;
}

.visible {
  display: flex !important;
  animation: dropdown 500ms 50ms ease-out backwards;
  transform-origin: top right;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: rotateX(-90deg) rotateY(90deg);
  }

  50% {
    transform: rotateX(-30deg);
  }

  75% {
    transform: rotateY(-10deg);
  }

  100% {
    opacity: 1;
    transform: rotateX(0) rotateY(0);
  }
}

.welcome-section {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: calc(100vh - 3.5em);
  margin-top: 3em;
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.welcome-content, .welcome-right {
  height: 100%;
  background: var(--secondary);
  border-radius: 10px;
}

.welcome-content {
  border-radius: 10px;
  width: 60%;
  max-width: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.welcome-content h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: start;
}

.welcome-content h1 span.title {
  color: var(--accent);
  font-weight: bold;
  margin: 0;
}

.welcome-content p {
  font-size: 0.9rem;
  font-weight: 300;
  text-align: justify;
  margin: 20px 0 .5em 0;
}

.ctas {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
}

.cta-1 {
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--accent);
  border-radius: 10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  margin: 5px 5px 5px 0;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  width: -moz-fit-content;
  width: fit-content;
  /* will-change: transform; */
}

.cta-1:disabled {
  pointer-events: none;
}

.cta-1:hover {
  color: #fff;
  background-color: var(--accent);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-1px);
}

.cta-1:active {
  box-shadow: none;
  transform: translateY(0);
}

.cta-2 {
  appearance: none;
  background-color: var(--accent);
  border: 2px solid var(--accent);
  border-radius: 10px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  margin: 5px 5px 5px 0;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  width: -moz-fit-content;
  width: fit-content;
  /* will-change: transform; */
}

.cta-2:disabled {
  pointer-events: none;
}

.cta-2:hover {
  color: #fff;
  background-color: var(--accent);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-1px);
}

.cta-2:active {
  box-shadow: none;
  transform: translateY(0);
}

.contact-links {
  margin-top: auto !important;
  /* margin-bottom: 15px; */
  display: flex;
}


.contact-links > a {
  margin: 0 5px !important;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border-radius: 15px;
  background-color: rgba(255, 255, 255);
  width: 40px;
  height: 40px;
  color: #000;
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.contact-links > a:hover {
  transition: 0.3s;
  border-radius: 15px;
  transform: scaleX(1.1) scaleY(1.1);
  color: var(--accent);
}
.welcome-right {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("assets/img/experimental-playing-video-games-on-laptop.webp");

  background-position: center;
  min-width: 40%;
}

i.leetcode-icon {
  background-image: url("assets/img/leetcode.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: #000;
  width: 25px;
  height: 25px;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}

.show {
  filter: blur(0px);
  transform: translateX(0%);
  opacity: 1;
}



.section {
  min-height: 85vh;
  margin: 15px 0;
  border-radius: 10px;
  padding: 4em 4vmin;
  background-color: var(--secondary-light);
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 780px;
  margin: auto;
}

.title-about {
  margin-bottom: 20px;
}

.about-content {
  margin: 20px;
}

.about-content p {
  margin-bottom: 20px;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 1px;
  /* font-size: 1.2em; */
  /* margin-left: 20px; */
}


.about-img {
  margin: 10px;
  /* width: 120px; */
  /* height: 120px; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img img {
  border-radius: 50%;
  /* background-color: rgba(1, 1, 1, 0.452); */
  background-color: var(--accent);
}

.skills-title {
  text-align: center;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  max-width: 780px;
  margin: auto;
  /* padding: 15px; */
}

h3.skill-name {
  font-size: 1em;
}

.skill {
  margin: 20px;
}

section .title-section {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7em;
}

section .description {
  text-align: center;
  margin-bottom: 20px;
}

/************************* Certifications *************************/
.certifications {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 100%;
}

.certification {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
}

.certification-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.certification-title {
  font-size: 1.5em;
  margin-right: 10px;
}

.certification-title i {
  color: var(--accent);
}

.certification-date {
  font-style: italic;
  margin-left: 30px;
  margin-top: 5px;
}

.certification-issuer {
  margin-left: auto;
  font-size: large;
  color: var(--accent);
  font-weight: bold;
}

.certification .certification-img {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  /* background-color: aquamarine; */
}

.certification .certification-img img {
  border-radius: 5px;
}

.certification .certification-content {
  margin: 10px 20px;
  max-width: 500px;
}

.certification-desc {
  text-align: justify;
}

.certification .skillset {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px 0;
}

.certification .skillset .skillset-item {
  margin: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #ccc;
  color: #000;
  font-weight: 500;
}

.more-certifications {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

/************************* Projects *************************/
.my-projects {
  padding: 20px;
}

.project {
  color: #ffffff;
  border-bottom-left-radius: 15px;
  border-left: 2px groove var(--accent);
  /* padding: 1em 0 0 0; */
  margin: 25px auto;
  padding: 15px 20px;
  max-width: 700px;
  box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
  text-align: center;
}



.project-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project .tools {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 15px 0px 10px 0;
}

.icon-wrapper {
  margin: 5px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.icon-wrapper:hover {
  border-radius: 13px;
  transform: scaleX(1.1) scaleY(1.1);
}

.icon-wrapper i {
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 1.5em;
}
.project .code-links {
  display: flex;
  flex-wrap: wrap;
}

.project a {
  margin: 20px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.project-desc {
  text-align: justify;
}

.project-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 10px;
}

a.external-link {
  display: inline;
  text-decoration: underline;
  color: rgb(186, 186, 255);
}

.project-links {
  /* display: flex;
  justify-content: space-around; */
  padding: 20px 0;
}

.project-links a {
  /* color: #d13c3c; */
  margin: 0 10px;
  font-size: 2em;
}

.more-projects {
  padding-right: 20px;
  margin: auto;
  max-width: 700px;
  display: flex;
  flex-direction: row-reverse;
}


#contact-title {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;
}

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(19, 59, 92, 0.2);
}

a.brands {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1.1rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  text-transform: none;
  color: #f0f0f0;
}

a.brands:hover {
  transform: scale(1.1);
}

.brands i {
  margin-right: 3px;
  font-size: 1.5em;
}

footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  text-align: center;
  min-height: 20vh !important;
  color: #f0f0f0;
  font-size: 1.2em;
  background: linear-gradient(to right,
      rgba(19, 59, 92, 0.2),
      #004e92,
      #302b63);
  justify-content: space-between;
}